apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: portfolio
spec:
  project: default
  source:
    repoURL: https://github.com/somkumarav/k8s.git
    path: portfolio
    targetRevision: HEAD
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
      enabled: true