apiVersion: apps/v1
kind: Deployment
metadata:
  name: portfolio
spec:
  replicas: 2
  revisionHistoryLimit: 2
  selector:
    matchLabels:
      app: portfolio
  template:
    metadata:
      labels:
        app: portfolio
    spec:
      containers:
        - name: portfolio
          image: somkumarva/portfolio:bdfd5d5feda902b633b5d696a3859c5592bedf5f
          ports:
            - containerPort: 3000
