apiVersion: apps/v1
kind: Deployment
metadata:
  name: portfolio
spec:
  replicas: 2
  selector:
    matchLabels:
      app: portfolio
  template:
    metadata:
      labels:
        app: portfolio
    spec:
      containers:
        - name: portfolio
          image: somkumarva/portfolio:bd4c40d540bfe17aabc3307f11616c4141ddeeea
          ports:
            - containerPort: 3000