apiVersion: apps/v1
kind: Deployment
metadata:
  name: portfolio
spec:
  replicas: 2
  revisionHistoryLimit: 2
  selector:
    matchLabels:
      app: portfolio
  template:
    metadata:
      labels:
        app: portfolio
    spec:
      containers:
        - name: portfolio
          image: somkumarva/portfolio:94ab0b311fc1ceb6bd925bde55df59b06aa96cfc
          ports:
            - containerPort: 3000
